#site-header {
  background-color: rgb(13, 125, 230);
  background-image: url(img/pattern.png);
  background-repeat: repeat-x;
  height: 120px;
}

.scritto {
  color: gray;
  font-family: "Times New Roman", Times, serif;
  line-height: 0%;
}

.logo {
  width: 105px;
  position: absolute;
}

.author {
  color: #639bf0;
}

h1 {
  font-weight: 900;
  font-size: xx-large;
}

.des-line {
  line-height: 0%;
  margin-top: 5px;
}

.list {
  line-height: 0%;
  margin: auto;
}

.coloumn-small {
  width: 30%;
  text-align: left;
}
.row-head {
  background-color: #159ffaf6;
  color: white;
}

.color-row {
  background-color: #a8c9fa;
}

table {
  border-collapse: collapse;
}

h3 {
  color: gray;
}

.graph-photo {
  display: block;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.container {
  position: relative;
  text-align: left;
  color: white;
  font-weight: 800;
}

.simple-highlight {
  background-color: yellow;
  padding: 0.1em 0.2em;
}
